<div class="add-building-container">
  <form [formGroup]="rForm" (ngSubmit)="addBuilding(rForm.value)">
    <h1>Add a New Building:</h1>
    <div class="form-container-top">
      <label for="name"
        >Name
        <input type="text" formControlName="name" />
      </label>

      <label for="height"
        >Height (m)
        <input type="text" formControlName="height" />
      </label>

      <label for="floors"
        >Floor Count
        <input type="text" formControlName="floors" />
      </label>

      <label for="yearbuilt"
        >Year Built
        <input type="text" formControlName="yearbuilt" />
      </label>

      <label for="primaryuse"
        >Primary Use
        <input type="text" formControlName="primaryuse" />
      </label>

      <label for="location"
        >Location
        <input type="text" formControlName="location" />
      </label>

      <label for="image" class="image-address"
        >Image Address
        <input type="text" formControlName="image" />
      </label>
    </div>
    <div class="form-container-bottom">
      <label for="description"
        >Description (optional)
        <textarea
          type="text"
          rows="10"
          formControlName="description"
        ></textarea>
        <p>{{ rForm.value.description.length }}/800</p>
      </label>

      <input
        type="submit"
        class="submit-btn"
        value="Add New Building"
        routerLink="./"
        [disabled]="!rForm.valid"
      />
    </div>
  </form>
</div>
