.building-container {
  width: 800px;
  min-height: 500px;
  padding: 30px;
  margin: 30px;
  background-color: snow;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;

  img {
    width: 350px;
    object-fit: cover;
    border-radius: 10px;
  }
}

.info-container {
  display: flex;
  flex-direction: column;
  padding: 20px;

  ul {
    list-style: none;
    display: grid;
    font-size: small;
    color: #303030;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    li {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 5px 10px;
    }
  }

  h3 {
    margin-top: 50px;
    color: #181818;
  }

  p {
    margin: 15px 10px;
    font-size: 0.85em;
    color: #202020;
    line-height: 1.5em;
  }
}
